@import 'assets/mixins';

.btnWithIconSmall {
  background: none;
  color: none;
  border: none;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  transition: background-color 0.218s ease-in, opacity 0.218s ease-in;

  svg {
    vertical-align: middle;
    width: 100%;
    height: auto;
    opacity: 0.6;
    transition: opacity 0.218s ease-in;
  }
  svg:hover {
    opacity: 1;
  }
}

.btnWithIconSmall:hover {
  background-color: $hover-color;
}

.btnWithIconSmall:active {
  background-color: $active-color;
}
