@import 'assets/mixins';

.noteCreationForm {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  min-width: 564px;
  max-width: 564px;
  min-height: 46px;
  padding: 0.5rem 1rem;
  border: 1px solid $border-color;
  border-radius: 8px;
  background-color: $background-color;
  box-shadow: 0 3px 5px $shadow-color;

  textarea {
    display: block;
    box-sizing: border-box;
    overflow: auto;
    padding-right: 2rem;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
    @include primeFont();
  }
  textarea::placeholder {
    opacity: 0.6;
    font-weight: bolder;
  }

  .titleTextarea {
    font-size: $heading-font-size;
    font-weight: bolder;
  }
  .titleTextarea::placeholder {
    font-size: $heading-font-size;
  }

  .contentTextarea {
    font-size: $font-size;
  }
  .contentTextarea::placeholder {
    font-size: $font-size * 1.1;
  }

  .contentTextareaBlurred {
    padding-top: 0.7rem;
  }

  button {
    background: none;
    color: none;
    border: none;
  }

  .pinBtn {
    border-radius: 50%;
    position: absolute;
    right: 12px;
    top: 6px;
    width: 2.2rem;
    height: 2.2rem;
    transition: background-color 0.218s ease-in;

    svg {
      vertical-align: middle;
      border-radius: 50%;
      width: 100%;
      height: auto;
      opacity: 0.6;
      transition: opacity 0.218s ease-in;
    }
  }
  .pinBtn:hover {
    background-color: $hover-color;
  }
  .pinBtn:active {
    background-color: $active-color;
  }

  .bottomBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .saveBtn {
      border-radius: 4px;
      width: 4rem;
      height: 2rem;
      font-weight: bolder;
      opacity: 0.6;
    }
    .saveBtn:hover {
      background-color: $hover-color;
    }
    .saveBtn:active {
      background-color: $active-color;
    }
  }

  .hidden {
    display: none;
  }
}

.blurred {
  padding: 0 1rem;
  max-height: 46px;
}

@media (max-width: $breakpoint-tablet) {
  .noteCreationForm {
    min-width: 90%;
  }
}
