@import '../../assets/mixins';

.logo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 48px;
  min-width: fit-content;
  max-width: 200px;

  h1 {
    color: $secondary-color;
    font-size: $logo-font-size;
    @include primeFont();
    line-height: 24px;
  }
}

.iconContainer {
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: $logo-color;
    width: 100%;
    height: auto;
  }
}
