@import '../../assets/mixins';

.searchBar {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  max-height: 48px;
  min-width: 170px;
  max-width: 690px;
  padding: 0 0.6rem;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 $shadow-color, 0 1px 3px 1px $shadow-color;
  transition: box-shadow 0.1s ease-in, 0.1s ease-out;

  input {
    background: transparent;
    border: none;
    font-size: $heading-font-size;
    @include primeFont();
    height: 46px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
  input::placeholder {
    opacity: 0.3;
  }

  button {
    background: none;
    color: none;
    border: none;
    border-radius: 50%;
    display: flex;
    flex: 0 0 2.5rem;
    min-height: 2.5rem;
    align-items: center;
    justify-content: center;
  }
  button:hover {
    background-color: $hover-color;
  }
  button:active {
    background-color: $active-color;
  }

  svg {
    flex: 0 0 auto;
    width: 70%;
    height: auto;
    opacity: 0.6;
  }
}

.blurred {
  background: $secondary-background-color;
  border: 1px solid transparent;
  box-shadow: none;
}

.iconContainer {
  display: flex;
  flex: 0 0 2.5rem;
  min-height: 2.5rem;
  align-items: center;
  justify-content: center;
}
