.wrapper {
  position: relative;
  width: 206px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem 3rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  min-height: 100px;
  letter-spacing: .01428571em;
  font-family: Roboto,Arial,sans-serif;
  word-wrap: break-word;
}

.title {
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.5rem;
}

.content {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.btn {
  background: none;
  color: none;
  border: none;
  border-radius: 50%;
  transition: background-color 0.218s ease-in;
  position: absolute;
  right: 12px;
  top: 6px;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: rgba(60,64,67,.08);
}

.btn:active {
  background-color: rgba(60,64,67,.12);
}

.btn svg {
  flex: 0 0 auto;
  border-radius: 50%;
  width: 100%;
  height: auto;
  opacity: 0.6;
  transition: opacity 0.218s ease-in;
}

.btn svg:hover {
  opacity: 1;
}