.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.header {
  color: #5f6368;
  letter-spacing: .07272727em;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.gridView {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 4rem;
}

.listView {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}