.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  min-height: 134px;
  max-width: 560px;
  padding: 0 1rem;
  border-radius: 8px;
  background-color: white;
  border-color: #e0e0e0;
  box-shadow: 0 3px 5px rgba(0,0,0,.20);
  transition-duration: 0.218s;
  transition-timing-function: ease-in;
}

.blurred {
  min-height: 48px;
  max-height: 48px;
}

.wrapper input {
  background: transparent;
  border: none;
  font: normal 16px Roboto,Helvetica,Arial,sans-serif;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.wrapper input::placeholder {
  opacity: 0.8;
}

.pin {
  background: none;
  color: none;
  border: none;
  border-radius: 50%;
  transition: background-color 0.218s ease-in;
  position: absolute;
  right: 12px;
  top: 6px;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin:hover {
  background-color: rgba(60,64,67,.08);
}

.pin:active {
  background-color: rgba(60,64,67,.12);
}

.pin svg {
  flex: 0 0 auto;
  border-radius: 50%;
  width: 100%;
  height: auto;
  opacity: 0.6;
  transition: opacity 0.218s ease-in;
}

.pin:hover {
  opacity: 1;
}