.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 0.5rem;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.wrapper h2 {
  color: #5f6368;
  letter-spacing: .07272727em;
  font-size: .6875rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  margin-left: 1rem;
}

.gridLayout {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 4rem;
}

.listLayout {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}