.wrapper {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  min-height: 48px;
  max-height: 48px;
  max-width: 690px;
  padding: 0 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,.3),0 1px 3px 1px rgba(65,69,73,.15);
}

.input {
  background: transparent;
  border: none;
  font: normal 16px Roboto,Helvetica,Arial,sans-serif;
  height: 46px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.input::placeholder {
  opacity: 0.3;
}

.iconContainer {
  width: 2.5rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100%;
  height: auto;
  color: #5f6368;
  opacity: 1;
}

.button {
  background: none;
  color: none;
  border: none;
  border-radius: 50%;
}

.button:hover {
  background-color: rgba(60,64,67,.08);
}

.button:active {
  background-color: rgba(60,64,67,.12);
}


