.wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 48px;
  min-width: 144px;
}

.wrapper button {
  background: none;
  color: none;
  border: none;
  border-radius: 50%;
  display: flex;
  flex: 0 0 3rem;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
}

.wrapper button:hover {
  background-color: rgba(60,64,67,.08);
}

.wrapper button:active {
  background-color: rgba(60,64,67,.12);
}

.wrapper svg {
  width: 60%;
  height: auto;
  opacity: 0.6;
  transition: opacity 0.218s ease-in;
}

.wrapper svg:hover {
  opacity: 1;
}