@import '../../assets/mixins';

.noteCreationForm {
  position: relative;
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  gap: 0.5rem;
  min-height: 134px;
  min-width: 560px;
  max-width: 560px;
  padding: 0.5rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: $white;
  border-color: $light-grey;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  input {
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    @include primeFont();
  }
  input::placeholder {
    opacity: 0.6;
    font-weight: bolder;
  }

  .titleInput {
    font-size: $font-size * 1.2;
    font-weight: bolder;
  }
  .titleInput::placeholder {
    font-size: $font-size * 1.2;
  }

  .contentInput {
    font-size: $font-size;
  }
  .contentInput::placeholder {
    font-size: $font-size * 1.1;
  }

  button {
    background: none;
    color: none;
    border: none;
  }

  .pinBtn {
    border-radius: 50%;
    position: absolute;
    right: 12px;
    top: 6px;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.218s ease-in;

    svg {
      flex: 0 0 auto;
      border-radius: 50%;
      width: 100%;
      height: auto;
      opacity: 0.6;
      transition: opacity 0.218s ease-in;
    }
  }
  .pinBtn:hover {
    background-color: rgba(60, 64, 67, 0.08);
    opacity: 1;
  }
  .pinBtn:active {
    background-color: rgba(60, 64, 67, 0.12);
  }

  .bottomBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .saveBtn {
      border-radius: 4px;
      width: 4rem;
      height: 2rem;
      font-weight: bolder;
      opacity: 0.6;
    }
    .saveBtn:hover {
      background-color: $lighter-grey;
      opacity: 1;
    }
    .saveBtn:active {
      background-color: $light-grey;
    }
  }

  .hidden {
    display: none;
  }
}

.blurred {
  min-height: 48px;
  max-height: 48px;
}
