$font-size: 14px;
$logo-font-size: $font-size * 1.5;
$heading-font-size: $font-size * 1.2;
$tooltip-font-size: $font-size * 0.8;

$breakpoint-tablet: 768px;
$transition-opacity: opacity 0.218s ease-in;
