@import 'assets/mixins';

body {
  direction: ltr;
  background-color: $background-color;
  color: $primary-color;
  font-size: $font-size;
  @include primeFont();
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    min-width: 100%;
    max-width: 100%;
    min-height: 48px;
    max-height: 48px;
    padding: 0.5rem;
    gap: 0.5rem;
    box-shadow: inset 0 -1px 0 0 $shadow-color;

    .logoContainer {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      min-width: fit-content;
      max-width: 200px;
    }

    .searchContainer {
      flex: 1 1 auto;
      display: flex;
      justify-content: left;
      min-width: fit-content;
    }

    .toolsContainer {
      flex: 0 0 auto;
      display: flex;
      justify-content: center;
      min-width: fit-content;
      max-width: fit-content;
    }
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3rem;
  padding: 6rem 2rem 0 2rem;
}

.noteCreationFormContainer {
  align-self: center;
}

.notesContainer {
  align-self: left;
  display: flex;
  flex-direction: column;
}

.listView {
  align-self: center;
  align-items: stretch;
}
