@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #fff;
  color: #202124;
  direction: ltr;
  font-family: "Roboto",arial,sans-serif;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
