body {
  color: #202124;
  direction: ltr;
  font-family: "Roboto",arial,sans-serif;
  font-size: 15px;
}

h1 {
  color: green;
  font-style: italic;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

.note {
  width: 238px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.pin {
  align-self: end;
}

.pin:hover {
  opacity: '0.85';
  background-color: '#e0e0e0';
  border-radius: '50%';
}