@import './assets/mixins';

body {
  direction: ltr;
  background-color: $background-color;
  color: $primary-color;
  font-size: $font-size;
  @include primeFont();
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem;
    min-height: 48px;
    max-height: 48px;
    box-shadow: inset 0 -1px 0 0 $shadow-color;
  }
}

.logoContainer {
  flex: 1 1 auto;
  min-width: fit-content;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer {
  box-sizing: border-box;
  flex: 1 1 auto;
  min-width: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  max-height: 48px;
}

.toolsContainer {
  flex: 1 1 auto;
  min-width: fit-content;
  max-width: 144px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-right: 1rem;
}

.contentContainer {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3rem;
  padding: 6rem 3rem 0 3rem;
}

.noteCreationFormContainer {
  align-self: center;
}

.notesContainer {
  align-self: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listView {
  align-self: center;
  align-items: stretch;
}
