@import 'assets/mixins';

.notes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2 {
    color: $secondary-color;
    letter-spacing: 0.07272727em;
    font-size: $font-size * 0.8;
    font-weight: bold;
    line-height: 1rem;
    @include primeFont();
    text-transform: uppercase;
    margin-left: 1rem;
  }
}

.gridLayout {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
}

.listLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-bottom: 4rem;
}
