@import 'assets/mixins';

.toolBar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 48px;

  button,
  a {
    background: none;
    color: none;
    border: none;
    border-radius: 50%;
    flex: 0 0 3rem;
    min-height: 48px;
  }
  button:hover {
    background-color: $hover-color;
  }
  button:active {
    background-color: $active-color;
  }

  svg {
    vertical-align: middle;
    width: 60%;
    height: auto;
    opacity: 0.6;
    transition: opacity 0.218s ease-in;
  }
  svg:hover {
    opacity: 1;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 70%;
      height: auto;
    }
  }
}
